@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;

@model UpdateClaimModelView
<!--Edit Role start-->
<h1>Claims</h1>
@{
   
}


<form asp-action="CreateClaim">
    <div class="d-flex justify-content-start">
        <input hidden name="roleId" value="@Model.RoleId" />
        <input type="text" class="form-control w-50 me-4" name="claimName" />
        <button type="submit" class="btn btn-success">Add Claim</button>
    </div>
</form>

<div>
    <h1>Permissions for @Model.RoleName</h1>
</div>
<form asp-action="Edit" method="post">
    @for(int i = 0; i<Model.UpdateClaims.Count;i++)
    {

        <div class="col-sm-3">
            <div class="form-check form-switch">
                <input class="form-check-input"  asp-for="UpdateClaims[i].isActiveClaim" checked="@Model.UpdateClaims[i].isActiveClaim" type="checkbox" id="flexSwitchCheckChecked">
                <input  asp-for="UpdateClaims[i].ClaimName" value="@Model.UpdateClaims[i].ClaimName" hidden />
                
                <label class="form-check-label" for="flexSwitchCheckChecked">@Model.UpdateClaims[i].ClaimName</label>
            </div>
        </div>
    }

        <input type="text" asp-for="RoleId" value="@Model.RoleId" hidden />
        <button type="submit" class="btn btn-success">Save</button>
</form>

<!--Edit role end-->
