@inject MediatR.IMediator mediator;
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model List<Gaming.Application.Common.ModelDto.ProductGetDto>;




@{
    Layout = null;
}
<div class="d-flex justify-content-end w-100 mb-3">
    <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#adduserModal">+ Add User</button>
    <a href="/Admin/Logout" class="btn btn-danger">Log out!</a>
</div>
<table class="table table-striped table-success">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Product name</th>
            <th scope="col">Price</th>
            <th scope="col">Discount</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Product image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr id="@product.ProductId">
                <th scope="row">@product.ProductName</th>
                <td>@product.Price</td>
                <td>@product.Discount</td>
                <td>@product.Description</td>
                <td>@product.Category.CategoryName</td>
                <td>@product.ProductImage</td>
                <td>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updateModal" data-bs-whatever="@product.ProductId">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="hideRow('@product.ProductId')" data-bs-toggle="modal" data-bs-target="#removeModal" data-remove="@product.ProductId">Remove</button>
                </td>
            </tr>

        }


    </tbody>
</table>
<div class="container fixed-bottom d-flex align-items-center justify-content-center">
    //@Html.PagedListPager((IPagedList)Model, page => Url.Action("AdminMainPage", new { page = page }),
    new X.PagedList.Web.Common.PagedListRenderOptions
    {
    DisplayItemSliceAndTotal = false,
    ContainerDivClasses = new[] { "navigation" },
    LiElementClasses = new[] { "page-item" },
    PageClasses = new[] { "page-link" },
    })

</div>


<!--Update Modal dialog-->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update user!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/User/Update" method="post">
                    <div class="mb-3">
                        <label for="UserId" class="col-form-label">Id:</label>
                        <input type="text" readonly name="UserId" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="UserName" class="col-form-label">User name:</label>
                        <input type="text" name="UserName" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="Email" class="col-form-label">Email:</label>
                        <input type="email" name="Email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="Password" class="col-form-label">Password:</label>
                        <input type="password" name="Password" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Update</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<!--Create Modal dialog-->
<div class="modal fade" id="adduserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create User!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/User/Create" method="post">

                    <div class="mb-3">
                        <label for="UserName" class="col-form-label">User name:</label>
                        <input type="text" name="UserName" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="Email" class="col-form-label">Email:</label>
                        <input type="email" name="Email" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="Password" class="col-form-label">Password:</label>
                        <input type="password" name="Password" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" id="createuser" class="btn btn-primary" data-bs-dismiss="modal">Create</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<!--Delete Modal dialog-->
<div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/User/Delete" method="post">
                    <div class="mb-3">
                        <label for="UserId" class="col-form-label">Id:</label>
                        <input type="text" name="UserId" readonly class="form-control" id="recipient-name">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="cancelremove" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Yes remove it!</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">
        var exampleModal = document.getElementById('updateModal')
        exampleModal.addEventListener('show.bs.modal', function (event) {

            var button = event.relatedTarget

            var recipient = button.getAttribute('data-bs-whatever')

            var modalTitle = exampleModal.querySelector('.modal-title')
            var modalBodyInput = exampleModal.querySelector('.modal-body input')

            modalTitle.textContent = 'Edit for user ' + recipient
            modalBodyInput.value = recipient
        })

        var createModal = document.getElementById('adduserModal')
        createModal.addEventListener('show.bs.modal', function (event) {

        })



        var removeModal = document.getElementById('removeModal')
        removeModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            var recipient = button.getAttribute('data-remove')

            var modalTitle = removeModal.querySelector('.modal-title')

            var modalBodyInput = removeModal.querySelector('.modal-body input')

            modalTitle.textContent = 'Remove user ' + recipient
            modalBodyInput.value = recipient

        })

        function hideRow(rowId) {
            var row = document.getElementById(rowId);
            row.style.display = "none";
            const btn = document.getElementById("cancelremove");
            btn.addEventListener("click",function(){
                row.style.display = "table-row";
            });

        }





        $(document).ready(function () {


        });
    </script>

}

<style>
    body {
        background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
    }
</style>
